/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin-top: 15px;
}

.tabs {
    overflow: hidden;
}

.tablink {
    border: none;
    outline: none;
    cursor: pointer;
    margin: 25px;
    padding: 14px 16px;
    font-size: 17px;
    font-family: 'Anonymous Pro';font-size: 22px;
    transition: 0.3s;
    color: black;
    display: inline;
    text-decoration: none; 
}

.tablink:hover {
    background-color: #a9b1f8;
}

.content {
    padding: 20px;
}

.back {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: blue;
}
