/* styles.css */
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.tabs-container{
    position: absolute;
    top: 30px;
    right: 10px;
    padding: 0;
    background-color: #41cf95;
}
.search-box{
    position: center;
    top: 0;
    right: 30%;
    width: 25px;

}
.tablink{
    width: 25px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-emphasis:5px;
}
.tablink:hover{
    background-color: rgb(234, 252, 136);
}
.container{
    display: inline-flexbox;
    justify-content: space-between;
}
.box{
    width: 50%; /* Adjust width as needed */
    padding: 10px;
    box-sizing: border-box; /* Ensures padding is included in the width */

}
.paragraph{
    text-align: left;
    margin-top: 300px;
    margin-left: 100px;
    padding: 10px;

}
.image-container{
    width: 20%;
    height: 15%;
    display: flex;
    margin-top: 15px;
    margin-left: 100px;
    border-radius: 25px;
}
#boxes{
    display: flex;

}
.box1{
    height: 50px;
    width: 70px;
    background-color: blueviolet;
}
